.switch-container {
  width: 100%;
  height: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.switch {
  width: 5em;
  height: 2em;
  border-radius: 1.5em;
  background-color: rgb(81, 83, 85);
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: relative;
}

.switch.dark {
  background-color: #eef7fc;
  border: 0.1em solid rgb(81, 83, 85);
}

.sun {
  position: absolute;
  right: 3.3em;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  background-color: rgb(238, 238, 187);
  transition: right 500ms ease, background-color 500ms ease;
}

.sun.dark {
  right: 0.3em;
  background-color: #eef7fc;
}

.moon {
  position: absolute;
  right: 0.3em;
  font-size: 1.2em;
  -webkit-transform: scaleX(-1);
  color: rgb(81, 83, 85);
  transform: scaleX(-1);
  transition: right 500ms ease, background-color 500ms ease;
}

.moon.dark {
  right: 2.9em;
}

.label {
  font-size: 0.8em;
  font-weight: 600;
  position: absolute;
  right: 0.8em;
}

.light-label {
  color: rgb(255, 255, 240);
}

.light-label.dark {
  display: none;
}

.dark-label {
  display: none;
  color: rgb(81, 83, 85);
}

.dark-label.dark {
  display: block;
}
